body section#landing {
    height: 100vh;
    border-bottom: 1px solid #bebebe;

    #header {
        margin-top: 20px;

        div.logo {
            position: relative;
            height: 40px;

            @media screen and (max-width: $phone) {

            }

            div.groupLogo {
                transform: translateY(-4px);

                img#logo {
                position: absolute;
                z-index: 10;
                transform: rotate(0deg);
                transition: transform 0.6s cubic-bezier(.79, 0, .19, 1);
                will-change: transform;
                cursor: pointer;
                @media screen and (max-width: $phone) {
                        left: 50%;
                        transform: translateX(-50%);
                    }

                @keyframes bounce {
                  0%, 20%, 50%, 80%, 100% {transform: translateY(-4px);}
                  40% {transform: translateY(-24px);}
                  60% {transform: translateY(-9px);}
                }

                    @media screen and (min-width: $phone) {
                        &:hover {
                            transform: rotate(360deg);
                        }
                    }
                }

                .square {
                    width: 40px;
                    height: 40px;
                    margin: 8px;
                    background-color: $grey;
                    position: absolute;

                    @media screen and (max-width: $phone) {
                        left: 50%;
                        transform: translateX(-72%);
                    }
                }
            }

            div.clickEvent {
                animation: bounce 1s 1;
            }
        }

        .rightHeader {
        @media screen and (max-width: $phone) {
            text-align: center;
        }

            div.menu {
                display: inline-block;
                width: 150px;
                cursor: pointer;
                position: relative;
                padding-top: 25px;

                a {
                    font-size: 20px;
                    font-weight: 300;
                    transition: color 0.7s cubic-bezier(.42, 0, 0, 1),
                }

                .underline {
                    background-color: $grey;
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    margin-top: 3px;
                    left: 50%;
                    transform: translateX(-50%);
                    will-change: transform;
                    transition: width 0.7s cubic-bezier(.42, 0, 0, 1), background-color 0.7s cubic-bezier(.42, 0, 0, 1);
                }

                &:hover {

                    a {
                        color: $grey-hover;
                    }

                    .underline {
                        width: 50%;
                        background-color: $grey-hover;
                    }
                }
            }
        }
    }

    .centerElement {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        will-change: transform;
        cursor: default;
        user-select: none;

        h1 {
            font-size: 80px;
            text-transform: uppercase;

            span {
                font-weight: 600;
            }
        }

        h2 {
            font-size: 20px;
            margin-top: 6px;
            font-weight: 300;
            cursor: pointer;

            span {
                font-weight: 500;
            }
        }
    }
}

.informationDiv {
    position: absolute;
    color: $grey;
    background-color: transparent;
    border: 1px solid $grey;
    padding: 7px 10px;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 0 2px rgba(52, 52, 52, 0.3);
    transform: scale(0) rotate(-12deg);
    transition: transform .25s, opacity .25s;
    opacity: 0;
    z-index: 10;

    abbr {
        border-bottom: 0px;
    }

    &:before {
        content: "";
        border-left: 8px solid transparent !important;
        border-right: 8px solid transparent !important;
        border-bottom: 8px solid $grey;
        border-top: none;
        height: 0;
        width: 0;
        top: -8px;
        left: 50%;
        margin-left: -8px;
        position: absolute;
    }
}

.display {
    transform:scale(1) rotate(0);
    opacity: 1;
}

.scroll {
    position: absolute;
    display: flex;
    transform: translateX(-50%);
    flex-flow: column;
    align-items: center;
    bottom: 0;
    left: 50%;

    p {
        margin-bottom: 7px;
        font-size: 14px;
    }

    .scrollAnimation {
        display: block;
        width: 1px;
        height: 80px;
        background-color: $grey;

        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-iteration-count: infinite;
        will-change: transform;
    }
}

@keyframes scroll {
    0% {transform: scale(1); transform-origin: bottom;}
    20% {transform: scale(0); transform-origin: bottom;}
    21% {transform: scale(0); transform-origin: top;}
    99% {transform: scale(1); transform-origin: top;}
    100% {transform: scale(1); transform-origin: bottom;}
}
