@charset "UTF-8";

/*
 * Colors
 */


/*
 * Transitions
 */


/*
 * Z-index
 */
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;


/*
 * Breakpoints
 */
$phone: 544px;
$tablet: 768px;
$desktop: 992px;
$wide-desktop: 1200px;